DB_HOST=your-rds-endpoint
DB_PORT=3306
DB_NAME=curriculum
DB_USER=admin
DB_PASSWORD=replace-me

FACULTY_API_URL=https://restapi.tu.ac.th/api/v2/std/fac/all
DEPARTMENT_API_URL=https://restapi.tu.ac.th/api/v2/std/dep/all
TU_APPLICATION_KEY=replace-with-tu-access-token
COURSE_API_URL=https://script.google.com/a/macros/dome.tu.ac.th/s/AKfycbw75ktHQ9wrWMNcMBq1rd0OnNCi3OOJwwNS0kTT5OQDYGiBA1Up7B-Ufbhtu603HZcZ/exec
